@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Usted está autenticado. Su identificación es @User.Identity.Name</p>
<p>Su Nombre Completo es @User.Claims.First(x => x.Type == "FullName").Value</p>
<p>Lista de claims:</p>
<ul>
    @foreach (var c in User.Claims)
    {
<li><b>@(c.Type+": ")</b>@c.Value</li>
}
</ul>
@Html.ActionLink("Salir", "Logout", "Usuario", null, new { @class = "btn btn-primary" })


