<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InmoBecker -</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color:lightblue">
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="topnav">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand text-black-50 active" style="font-family:'Century Gothic'; font-weight:500;" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-university"></i> InmoBecker</a>
                    <a class="navbar-brand text-black-50 active" asp-area="" asp-controller="Home" asp-action="Index" style="font-family:'Century Gothic'; font-weight:500;"><i class="fa fa-building-o"></i> Inicio</a>
                    <a class="navbar-brand text-black-50 active" asp-area="" asp-controller="Usuarios" asp-action="Login"><i class="fa fa-sign-in"></i> Acceder</a>
                }
                else
                {
                    <ul class="navbar-nav">
                        @if (User.IsInRole("Administrador"))

                        {
                        <li class="nav-item">
                            <a class="navbar-brand text-black-50 active" style="font-family:'Century Gothic'; font-weight:500;" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-university"></i> InmoBecker</a>
                        </li>

                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="fas fa-users"></i>&ensp; Usuarios</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Propietarios" asp-action="Index"><i class="fas fa-user-tie"></i>&ensp; Propietarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Inquilinos" asp-action="Index"><i class="fas fa-house-user"></i>&ensp; Inquilinos</a>
                        </li>
                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Inmuebles" asp-action="Index"><i class="fas fa-building"></i>&ensp; Inmuebles</a>
                        </li>
                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold" asp-area="" asp-controller="Contratos" asp-action="Index"><i class="fas fa-file-contract"></i>&ensp; Alquileres</a>
                        </li>
                        <li class="nav-item">
                            <a class="py-2 nav-link text-black-50 font-weight-bold"  asp-area="" asp-controller="Usuarios" asp-action="Logout"><i class="fa fa-power-off"></i> Cerrar Sesion </a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
        <main role="main" class="container">
            <div class="">
                @if (ViewBag.Id != null)
                {//alta exitosa
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>¡Éxitoso!</strong> Fue dada de alta con id: @ViewBag.Id
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           X   
                        </button>
                    </div>
                }

                else if (ViewBag.Errores != null)
                {//alta exitosa
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>¡Error!</strong> Faltan completar campos!! @ViewBag.Errores
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            X
                        </button>
                    </div>
                }
                else if (ViewBag.Mensaje != null)
                {//cartel general
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <strong>Información:</strong> @ViewBag.Mensaje
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            X
                        </button>
                    </div>
                }

                else if (!String.IsNullOrEmpty(ViewBag.Error))
                {
                    <environment names="Development">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>Error:</strong>@ViewBag.Error
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                X
                            </button>
                            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                @ViewBag.StackTrace
                            </div>
                        </div>
                    </environment>
                }

                @RenderBody()
            </div>
           
        </main>


    <footer class="footer">
        <div class="container">
            &copy; 2021 - InmoBecker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
