@model IEnumerable<InmoBecker.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}

<h1>Inquilinos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IdInquilino" title="Editar">Editar</a>
                <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.IdInquilino" title="Detalles">Detallers</a>
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdInquilino" title="Eliminar">Eliminar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
