@model IEnumerable<InmoBecker.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<form asp-action="Buscar" method="get" class="form-inline">
    <input class="form-control mr-sm-2" name="q" type="search" placeholder="Email">
    <input type="submit" value="Buscar" class="btn btn-outline-secondary my-2 my-sm-0">
</form>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
            <a asp-action="Avatar" asp-route-id="@item.IdUsuario" title="Avatar"><img width="32" src="@item.Avatar" /></a>
            </td>
            
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.IdUsuario" title="Editar">Editar</a>&nbsp;
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdUsuario" title="Editar">Perfil</a>&nbsp;
                @if (User.IsInRole("Administrador"))
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUsuario" title="Eliminar">Eliminar</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
