@model IEnumerable<InmoBecker.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
    Contrato contrato = ViewBag.Contrato; 
}


<h1>Pagos</h1>
<h6 class="alert alert-info">
    Pagos correspondientes al contrato Nro: @contrato.IdContrato a Nombre de @contrato.Inquilino.Nombre @contrato.Inquilino.Apellido
    por el inmueble ubicado en @contrato.Inmueble.Direccion
</h6>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-route-id="@contrato.IdContrato">Nuevo Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
              
                <td>
                    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IdPago" title="Editar">Editar</a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdPago" title="Eliminar">Eliminar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Contratos" asp-action="Index">Volver</a>
</div>