@model InmoBecker.Models.Contrato

@{
    ViewData["Title"] = "Crear";

    DateTime inicio = ViewBag.Desde;
    DateTime fin = ViewBag.Hasta;
 }

<h1>Crear</h1>
<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" id="iPrecio" class="form-control" readonly value="@(((List<Inmueble>)ViewBag.Inmuebles)[0].Precio)" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input type="text" name="FechaInicio" class="form-control" value="@inicio.Date" readonly />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCierre" class="control-label"></label>
                <input type="text" name="FechaCierre" class="form-control" value="@fin.Date" readonly />
                <span asp-validation-for="FechaCierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label">Inquilinos</label>
                <select class="form-control" name="InquilinoId">
                    @foreach (var item in (List<Inquilino>)ViewBag.Inquilinos)
                    {
                        <option value="@item.IdInquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select class="form-control" name="InmuebleId" id="inmuebles" onchange="inmuebleCambiado()">
                    @foreach (var item in (List<Inmueble>)ViewBag.Inmuebles)
                    {
                        <option value="@item.IdInmueble" data-precio="@item.Precio">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>
<script>
    function inmuebleCambiado(e) {
        console.log("error");
        var input = document.querySelector("#inmuebles");
        var seleccionada = input.options[input.selectedIndex];
        document.querySelector("#iPrecio").value = seleccionada.getAttribute("data-precio");

    }
</script>
