@model IEnumerable<InmoBecker.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido )
            </td>
            <td>
                @(item.Inmueble.Direccion + " " )
            </td>
         
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdContrato" title="Detalles">Detalles</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdContrato" title="Editar">Editar</a>
                <a class="btn btn-primary" asp-controller="Pagos" asp-action="Index" asp-route-id="@item.IdContrato" title="Pagos">Pagos</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.IdContrato" title="Eliminar">Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>