@model IEnumerable<InmoBecker.Models.Inmueble>

@{
    ViewData["Title"] = "InmueblesPorPropietario";
}

<h3>Inmuebles que posee</h3>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.Id"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdInmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ambientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropietarioId)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdInmueble)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ambientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Superficie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @(item.EstadoNombre)
                </td>
                <td>
                    @(item.Duenio.Nombre + "" +item.Duenio.Apellido)
                </td>

            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Propietarios" asp-action="Index" > Volver a Propietarios </a>
</div>

